@charset "UTF-8";
@import url("../webfonts/Gotham_Bold_Regular/stylesheet.css");
@import url("../webfonts/GothamBook/stylesheet.css");
 @keyframes fadeIn {
 0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
@font-face {
	font-family: "rouge-script";
	src: url(/assets/Rouge_Script/RougeScript-Regular.ttf);
}
@font-face {
	font-family: "Gotham";
	/* [disabled]src: url(/assets/Roboto/Roboto-Light.ttf); */
}


.introSection h1 {
	color: #A08BAA;
	font-family: "Gotham Bold Regular";
	font-style: normal;
	font-weight: 300;
	font-size: 9em;
	line-height: 1em;
	text-align: center;
	word-spacing: 20px;
	opacity: 0;
	animation: fadeIn 5s ease-in-out 1s forwards;
}


.introSection h3 {
	color: #CECDCE;
	font-family: rouge-script;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 4em;
	line-height: 0.5em;
}
.introSection h2 {
	color: #fff;
	font-family: GothamBook;
	padding-top: 3em;
	font-style: normal;
	font-weight: 200;
	font-variant: normal;
	font-size: 3em;
	text-align: center;
	
}

.introSection h2:after, .introSection h2:before {
	content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
	text-decoration: line-through;
}
.introSection h4 {
	color: #95989A;
	font-family: GothamBook;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	line-height: 3em;
}
.aboutSection h1 {
	color: #FFFFFF;
	font-family: "Gotham Bold Regular";
	font-style: normal;
	font-size: 4em;
	font-weight: 250;
	line-height: 0em;
	padding-top: 1em;
	
}
.aboutSection h1:after, .aboutSection h1:before {
	
}
.aboutSection p {
	color: #fff;
	font-family: GothamBook;
	font-style: normal;
	font-weight: 200;
	padding-top: 7em;
	padding-right: 0em;
	padding-left: 7em;
	padding-bottom: 3.5em;
	text-align: right;
	font-size: 1.75em;
	line-height: 1.2em;
}

.skillsSection h1 {
	color: #FFFFFF;
	padding-top: 0em;
	font-family: "Gotham Bold Regular";
	font-style: normal;
	font-size: 4em;
	font-weight: 250;
	line-height: 0em;
	text-align: center;
}


.footer {
	background-image: url(../images/footer.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100%;
	height: 50em;
	float: left;
}
.container .row .btn.btn-lg.btn-default {
	width: 15em;
	background-color: transparent;
	border: medium solid #fff;
	color: #fff;
	border-radius: 0px;
	font-family: "Gotham Bold Regular";
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
}
.container .row .btn.btn-lg.btn-default:hover {
	width: 15em;
	background-color: transparent;
	border-radius: 0px;
	border: medium solid #A08BAA;
	color: #A08BAA;
	
}
.divider {
	width: 200px;
	height: auto;
	display: inline-block;
}
.portfolioSection h1 {
	color: #fff;
	font-family: "Gotham Bold Regular";
	font-style: normal;
	font-weight: 250;
	line-height: 0em;
	font-size: 4em;
	padding-top: 3.5em;
	padding-bottom: 2em;
}

.no-image {
	padding-top: 300px;
}
.align {
	padding-top: 25px;
}
.third-btn {
	margin-top: 25px;
}
.dark-text {
	color: #000;
}
.gallery-title {
	font-size: 36px;
	color: #42B32F;
	text-align: center;
	font-weight: 500;
	margin-bottom: 70px;
}
.gallery-title:after {
	content: "";
	position: absolute;
	width: 7.5%;
	left: 46.5%;
	height: 45px;
	border-bottom: 1px solid #5e5e5e;
}
.filter-button {
	/*font-size: 18px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 30px;*/
	width: 8em;
	background-color: transparent;
	border: medium solid #fff;
	color: #fff;
	border-radius: 0px;
	font-family: "Gotham Bold Regular";
	font-style: normal;
	font-weight: 200;
	font-size: 1.5em;
	margin-bottom:3em;
}
.filter-button:hover {
	width: 8em;
	background-color: transparent;
	border: medium solid #A08BAA;
	color: #A08BAA;
	border-radius: 0px;
	font-family: "Gotham Bold Regular";
	font-style: normal;
	font-weight: 200;
	font-size: 1.5em;
	margin-bottom: 3em;
}
.btn-default:active .filter-button:active {
	color: #fff;
	border-color: #fff;
}
.port-image {
	width: 100%;
}
.gallery_product {
	margin-bottom: 30px;
}
.carousel-inner .item.active .carousel-caption {
	position: relative;
	right: 0%;
	left: 0%;
	bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
	font-family: GothamBook;
	font-style: normal;
}
.carousel-inner .item .carousel-caption {
	position: relative;
	right: 0%;
	left: 0%;
	bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
	font-family: GothamBook;
	font-style: normal;
}
.filter-button.active {
	color: #fff;
	border-color: #fff;
}
.contactSection h1 {
	color: #FFFFFF;
	font-family: "Gotham Bold Regular";
	font-style: normal;
	font-weight: 250;
	line-height: 2em;
	font-size: 4em;
	padding-top: 3.5em;
}

.contactSection h3 {
	color: #fff;
	font-family: "rouge-script";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 4em;
	line-height: 1em;
}

.contactSection h4 {
	color: #fff;
	font-family:"GothamBook";
	font-style:normal;
	font-weight:400;
	text-align:center;
	font-size: 2em;
	line-height:1em;
	padding-top: 1em;
	padding-bottom:2em;
}
.container .row form {
	align-content: center;
	left: 40%;
	width: 100%;
	height: auto;
	color: #fff;
	border-color: #fff;
	font-family: GothamBook;
	font-style:normal;
	font-weight: 200;
	font-size: 1.5em;
	
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #A08BAA;
	font-family:roboto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #A08BAA;
	font-family:roboto;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #A08BAA;
	font-family:roboto;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #A08BAA;
	font-family:roboto;
}


.inputArea {
	background-color: transparent;
	border: thin solid #fff;
	color: #fff;
	font-family: roboto;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	float: left;
	width: 100%;
	height: 2em;
	text-indent: 5px;
	margin-bottom: 20px;
	align-content: center;
	
}
.inputMessageArea {
	background-color: transparent;
	border: thin solid #fff;
	color: #fff;
	font-family: roboto;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	float: left;
	width: 100%;
	height: 7em;
	text-indent: 5px;
	margin-bottom: 2em;
	align-content: center;
	padding-top: 0.5em;
	
}
.submitButton {
	width: 20%;
	height: 2em;
	background-color: transparent;
	border-radius: 0px;
	border: thin solid #fff;
	color: #fff;
	font-family: GothamBook;
	text-align:center;
	align-self: right;
	
	font-style: normal;
	padding-top:0.5em;
	font-weight: 300;
	font-size: 1.2em;
}
.submitButton:hover {
	background-color: transparent;
	border: thin solid #A08BAA;
	color: #A08BAA;
}
.thanks h1 {
	color: #FFFFFF;
	font-family: rouge-script;
	font-style: normal;
	font-weight: 400;
	font-size: 7em;
	text-align: center;
	line-height: 1em;
}
.thanks h2 {
	color: #FFFFFF;
	font-family: GothamBook;
	font-style: normal;
	font-weight: 200;
	line-height: 2em;
}

@media (max-width: 689px) {
.introSection h2:after, .introSection h2:before {
	display: none;
}
.aboutSection h1:after, .aboutSection h1:before {
	display: none;
}
.portfolioSection h1:after, .portfolioSection h1:before {
	display: none;
}
.contactSection h1:after, .contactSection h1:before {
	display: none;
}
.introSection h1 {
	font-size: 5em;
	opacity: 1;
	animation: none;
}
.introSection h3 {
	font-size: 3em;
	line-height: 1em;
}
.introSection h2 {
	padding-top: 0em;
}
.introSection h4 {
	font-size: 1.5em;
	line-height: 2em;
}
.aboutSection p {
	font-size: 1.3em;
}
.portfolioSection .container .row .btn.btn-lg.btn-default {
	width: 10em;
	font-size: 1em;
	display: inline-block
}
.portfolioSection .container .row .btn.btn-lg.btn-default:hover {
	width: 10em;
	font-size: 1em;
	display: inline-block;
}
.submitButton {
	width: 100px;
	height: 40px;
	text-align: center;
}
}
